.container{
  display : grid;
}
.to-do{
padding-bottom: 10px;}

.to-do-list{
  width : 50%
  
}
.header{

  display: flex;
  background-color :rgb(64, 124, 124);
  height: 100px;
  align-items:flex-end;
}

h6 {
  color: white;
  font-weight: bolder;

}
input[type=text] {
  width : 300px; 
  margin-right: 10px;
  margin-left: 10px;
}
input[value=Add]{
  width : 60px
}
.bottom-screen {
background-color: rgba(51, 9, 9, 0.109);
}
.add-form {
  
  color : white;
  background-color: green;
  opacity : 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3px solid rgb(64, 124, 124);
  border-radius: 5px;
  
}
